body {
    font-family: Helvetica;
    margin: 0;
    background-image: url("../public/test.jpg");
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    font-weight: 600;
    color: black;
}

.main-header {
    color: #fff;
    overflow: hidden;
    padding: 0.5rem;
}

.main-header h1 {
    line-height: 1;
    margin: 0;
    font-weight: 400;
}

.main-header a {
    color: white;
    text-decoration: none;
}

.main-content {
    padding: 0.5rem;
}


.search-page {
    text-align: center;
    margin-top: 230px;
    background: #943f3fa3;
    padding: 50px;
}

.search-page__input {
    border: 1px solid black;
    padding: 0.2em;
    margin-right: 1em;
    font-size: 20px;
}
.search-page__button {
    border: 1px solid black;
    background-color: #fff;
    font-size: 20px;
}

.user-info {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 230px;
    background: #943f3fa3;
    padding: 50px;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a{
    text-decoration: none;
    list-style:none; 

}
li{
    text-decoration: none;
    list-style: none;
    background: #0c0c0cc7;
    padding: 39px;
    margin: 10px;
    color: white;
}

.user-info__avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 1em;
    float: left;
}

.user-info__text {
    text-decoration: none;
    flex: 1;
}

.user-info__title {
    font-size: 20px;
}

.user-info-t {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:black;
    font-weight: 600;
}
